<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Loterias</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
  </head>

  <body>
    <div class="app header-default side-nav-dark">
      <div class="layout">
        <!-- Header START -->
        <div class="header navbar">
          <div class="header-container">
            <div class="nav-logo">
              <a href="/">
                <b><img src="assets/img/logo.png" alt=""></b>
                <span class="logo">
                  <img src="assets/img/logo-text.png" alt="">
                </span>
              </a>
            </div>
            <ul class="nav-left">
              <li>
                <a class="sidenav-fold-toggler" href="javascript:void(0);">
                  <i class="lni-menu"></i>
                </a>
                <a class="sidenav-expand-toggler" href="javascript:void(0);">
                  <i class="lni-menu"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Header END -->

        <!-- Side Nav START -->
        <div class="side-nav expand-lg">
          <div class="side-nav-inner">
            <ul class="side-nav-menu">
              <li class="side-nav-header">
                <span>Menu</span>
              </li>
              <li class="nav-item dropdown open">
                <a href="/" class="dropdown-toggle">
                  <span class="icon-holder">
                    <i class="lni-dashboard"></i>
                  </span>
                  <span class="title">Apurações</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Side Nav END -->

        <!-- Page Container START -->
        <div class="page-container">
          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="container-fluid">
              <!-- Breadcrumb Start -->
              <div class="breadcrumb-wrapper row">
                <div class="col-12 col-lg-3 col-md-6">
                  <h4 class="page-title">Apurações</h4>
                </div>
                <div class="col-12 col-lg-9 col-md-6">
                  <ol class="breadcrumb float-right">
                    <li><a href="/">Home</a></li>
                    <li class="active">/ Apurações</li>
                  </ol>
                </div>
              </div>
              <!-- Breadcrumb End -->
            </div>

            <div class="container-fluid">
              <div class="row">

                <div class="col-lg-6 col-md-12 col-xs-12">
                  <div class="card">
                    <div class="card-body text-center">
                      <h4 class="header-title">Mega</h4>
                      <ul class="list-inline widget-chart m-t-20 text-center">
                        <li>
                          <h4 class="">Concurso <b>3654</b> realizado <b>20/06/2020</b></h4>
                        </li>
                      </ul>
                      <div class="card-body">

                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-success text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-success text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-success text-white">01</a>
                          </li>
                        </ul>
                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-success text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-success text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-success text-white">01</a>
                          </li>
                        </ul>
                        
                      </div>
                      <ul class="list-inline widget-chart m-t-20 text-center">
                        <li><a href="#">Confira outros resultados ></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                  <div class="card">
                    <div class="card-body text-center">
                      <h4 class="header-title">Quina</h4>
                      <ul class="list-inline widget-chart m-t-20 text-center">
                        <li>
                          <h4 class="">Concurso <b>1654</b> realizado <b>22/06/2020</b></h4>
                        </li>
                      </ul>
                      <div class="card-body">

                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-primary text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-primary text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-primary text-white">01</a>
                          </li>
                        </ul>
                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-primary text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-primary text-white">01</a>
                          </li>
                        </ul>
                        
                      </div>
                      <ul class="list-inline widget-chart m-t-20 text-center">
                        <li><a href="#">Confira outros resultados ></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12">
                  <div class="card">
                    <div class="card-body text-center">
                      <h4 class="header-title">Lotofacil</h4>
                      <ul class="list-inline widget-chart m-t-20 text-center">
                        <li>
                          <h4 class="">Concurso <b>1254</b> realizado <b>24/06/2020</b></h4>
                        </li>
                      </ul>
                      <div class="card-body">

                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                        </ul>
                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                        </ul>
                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-warning text-white">01</a>
                          </li>
                        </ul>
                        
                      </div>
                      <ul class="list-inline widget-chart m-t-20 text-center">
                        <li><a href="#">Confira outros resultados ></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                  <div class="card">
                    <div class="card-body text-center">
                      <h4 class="header-title">Lotomania</h4>
                      <ul class="list-inline widget-chart m-t-20 text-center">
                        <li>
                          <h4 class="">Concurso <b>1254</b> realizado <b>24/06/2020</b></h4>
                        </li>
                      </ul>
                      <div class="card-body">

                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                        </ul>
                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                        </ul>
                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                        </ul>
                        <ul class="list-inline widget-chart m-t-20 text-center">
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                          <li>
                            <a class="btn btn-circle btn-danger text-white">01</a>
                          </li>
                        </ul>
                        
                      </div>
                      <ul class="list-inline widget-chart m-t-20 text-center">
                        <li><a href="#">Confira outros resultados ></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Wrapper END -->

          <!-- Footer START -->
          <footer class="content-footer">
            <div class="footer">
              <div class="copyright">
                <span>Copyright © 2020 <b class="text-dark">Frank</b>. All Right Reserved</span>
              </div>
            </div>
          </footer>
          <!-- Footer END -->

        </div>
        <!-- Page Container END -->
      </div>
    </div>

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.app.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>